.tipPicture {
  float: left;
  padding: 5px;
}
.tipArrow {
  color: green;
  font-size: 35px;
  float: left;
  padding-top: 10px;
}
.profileOption {
  font-size: 25px !important;
  font-weight: bold !important;
}
.commentIDPicture {
  float : left;
}
.commentHeader {
  padding-left: 5%;
  font-size: 15px;
}
.commentBody {
  font-size: 20px;
}
.post-button {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.post-button:hover {
  transform: scale(1.1);
  cursor: pointer; 
}
.postTipButton {
  float:left;
  font-size: 15px;
}
.postIDPicture {
  float: left;
}
.postText {
  font-size: 15px;
  padding-left: 10px;
  float: left;
}
.postContent {
  margin-left: 60px;
  padding-top:  60px;
  max-width: 40%;
}
.postPermalink {
  font-size: 20px;
  float:right;
}
.postTipActions {
  padding-top: 15px;
}
.postCommentLink {
  float: left;
  padding-left: 10px;
  font-size: 15px;
}
.postCommentBox {
  padding-top: 30px;
}
.bitstoreImagePreview {
  max-height: 350px;
}
.hoverIdPicture : img{
  opacity: 0.9;
  transform: scale(.5);
}
.hoverIdPicture img:hover {
  transform: scale(1.2);
}

